{
  "extends": "eslint-config-airbnb",
  "rules": {
    "no-useless-computed-key": 0,
    "strict": 0,
    "func-names": 0,
    "space-before-function-paren": [0, "always"],

    // Disable until Flow supports let and const
    "no-var": 0,
    "vars-on-top": 0,

    // Disable comma-dangle unless need to support it
    "comma-dangle": 0,
    "consistent-return": 1,
    "no-return-assign": 0,
    "no-extend-native": 1
  },
  "parser": "babel-eslint"
}